@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Тестовое задание на бэк-разработчика .NET (уровень: simple)</h1>
	<div id="vue-app-container"></div>
</div>

@section Scripts
{
	<script src="~/bundle/mainPage.bundle.js"></script>
}
